.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  .offer-pill {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: green;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 0.8rem;
  }